{% unless page.url contains "about" %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <a href="/about">
        <h1 class="display-4">Continue the conversation</h1>
        <p class="lead">Get in touch to talk about your data-centered use cases.</p>
      </a>
  </div>
    <div class="container">
        <address>
            <strong>EXXETA AG</strong><br>
            c/o WeWork Sony Center<br>
            Kemperplatz 1<br>
            10785 Berlin<br>
            <strong>Phone:</strong> <a href="tel:+4915222690102">+49 152 2269 0102</a><br>
            <strong>E-Mail:</strong> <a href="mailto:georg.walther@exxeta.com">georg.walther@exxeta.com</a>
        </address>
    </div>
</div>
{% endunless %}
